@import '~7s/assets/bulma/bulma.sass';
@import '~7s/scss/variables.scss';

.badge {

  width: 1.75rem;
  height: 1.75rem;

  align-items: center;
  display: inline-flex;
  justify-content: center;

  &.is-small {
    width: 1.25rem;
    height: 1.25rem;
  }

  &.is-medium {
    width: 2.25rem;
    height: 2.25rem;
  }

  &.is-large {
    width: 3.25rem;
    height: 3.25rem;
  }

  &.round {
    border-radius: 10rem;
  }

  &.rect {
    border-radius: 2px;
  }

  &.is-light {
    background-color: $light;
  }

  &.is-dark {
    background-color: $dark;
  }

  &.is-primary {
    background-color: $primary;
  }

  &.is-link {
    background-color: $link;
  }

  &.is-info {
    background-color: $info;
  }

  &.is-success {
    background-color: $success;
  }

  &.is-warning {
    background-color: $warning;
  }

  &.is-danger {
    background-color: $danger;
  }
}
