p.alert {
    background: $primary;
    color: $text-invert;
    padding: 1rem;
    border-radius: $radius;
    @include ss-card();

    &.is-danger {
        background: $danger;
    }

    &.is-info {
        background: $info;
    }

    &.is-warning {
        background: $warning;
    }
    
    &.is-success {
        background: $success;
    }
}