
.ss-card.notification {
    display: flex;
    width: 100%;
    align-content: stretch;
    flex-direction: column;
}

@mixin ss-card() {
    background: #fff;
    box-shadow: $shadow-sm;
    border-radius: $border-radius;
}

.ss-card {

    min-width: 200px;
    @include ss-card();

    &.ss-is-centered {
        @media(min-width: $tablet){
            width: 700px;
        }
        .ss-card-content {
            padding: map-get($space, lg);
        }
    }

    &.ss-is-flex {
        display: flex;
        flex-direction: column;    
        align-items: center;
    }

    &.ss-is-fullwidth {
        width: 100%;
    }

    &.ss-is-lg {
        @media(min-width: $tablet){
            width: 800px;
        }
        width: 100%;
    }

    .ss-card-content {
        width: 100%;
        padding: map-get($space, lg);
        &.no-padding {
            padding: 0;
        }
    }

    .ss-card-title {
        text-transform: uppercase;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid $light-grey;
        color: $dark-grey;
        h2 {
            font-weight: $weight-normal;
        }
        padding: map-get($space, md);
    }

    .ss-card-header, .ss-card-footer {
        background-color: $ss-darkblue;
        padding: map-get($space, md);
        color: #fff;
        h2 {
            @include fs(large);
            display: block;
            color: #fff;
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    .ss-card-footer {
        background-color: $ss-lightblue;
    }

    .ss-card-header {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        position: relative;
        @media(min-width: $tablet){
            min-height: 150px;
            padding-left: 200px;
            padding-top: 20px;
            margin-bottom: 40px;
        }
        .ss-card-icon {
            @media(min-width: $tablet){
                position: absolute;
                bottom: -30px;
                left: 20px;
                background: #fff;
                border-radius: $border-radius;
                border: 1px solid #eee;
                box-shadow: $shadow-sm;
                width: 160px;
                height: 160px;
                display: block;
            }
            display: none;
            .ss-icon {
                font-size: 100px;
                padding-left: 14px;
                padding-top: 24px;
                color: #aaa;
            }
        }
    }

    .ss-card-footer {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

}