$ss-blue: #2C56A2;
$ss-blue2: #2C55A2;
$ss-lightblue: #375EA7;
$ss-darkblue: #193E70;
$ss-green: #95C11F;
$ss-green2: #6E9600;
$ss-yellow: #FFA600;

$light-grey: #eee;
$middle-grey: #aaa;
$dark-grey: #777;
$black: #222;
