.columns {
    margin: 0 !important;
    .column {
        &.is-flex {
            display: flex;
            flex-grow: 1;
            padding: map-get($space, sm);
        }
    }
    .column:first-child {
        padding-left: 0;
    }
    .column:last-child {
        padding-right: 0;
    }
}
