// A dropdown menu

.ss-dropdown {

    > a {
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;

        &:hover {
            border-radius: 25px;
            background-color: $light-grey;
        }
    }

    position: relative;

    &.is-right .ss-dropdown-content.ss-dropdown-expanded {
        right: 0;
        left: auto;
    }          

    > .ss-dropdown-content {
        display: none;
        background: #fff;
        box-shadow: $shadow-dropdown;
        width: auto;
        &.ss-dropdown-expanded {
            display: block;
            position: absolute;
            top: 35px;
            z-index: 100;
            left: 0;
            border-radius: $border-radius;
        }

        ul.ss-dropdown-menu {
            list-style: none;
            text-align: left;
            max-width: 300px;
            min-width: 200px;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border: 1px solid #ECECEC;
            border-radius: $border-radius;

            li  {
                height: auto;
                a {
                    display: block;

                    span {
                        display: inline-flex;
                        align-items: center;
                    }

                    padding: map-get($space, sm);
                    padding-left: 16px;

                    .icon {
                        margin-right: 0.45em;
                    }

                    &:hover {
                        background-color: $ss-lightblue;
                        color: $white;
                    }
                }
            }
        }
    
    }

}

