//Control panel related styles

.control-panel {

    .control-panel-header {

    }

    .control-panel-body {

        margin: 1rem 0;

        li {
            padding: 0px;
        }

        li > a,
        li > div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 0.5rem;
            border-radius: $border-radius;
            padding: 8px;

            list-style: none;
            background: $light-grey;

            &:hover {
                background: $dark-grey;

                span:first-child {
                    color: $light-grey;
                }
            }

            .badge {
                cursor: pointer;
            }
        }

    }

    .control-panel-footer {
    }
}