.ss-list {
    .ss-item:last-child {
        border-bottom: none;
    }

    .ss-item:nth-child(2n){
        background: #fafafa;
    }

    .ss-item {

        &.is-header {
            margin-bottom: map-get($space, xs);
            background: none;
            @media(max-width: $tablet){
                display: none;
            }    
        }

        &.is-card {
            @include ss-card();
            margin-bottom: map-get($space, lg);
        }

        display: flex;
        flex-direction: row;
        align-items: center;

        padding: map-get($space, lg);

        @media(max-width: $tablet){
            flex-direction: column;
            align-items: flex-start;
        }

        &.expandable {
            cursor: pointer;
        }

        form {
            margin: 0;

            label.label {
                font-weight: 300;
            }
        }

        span.action {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        span.date {
            display: block;
            color: #aaa;
            font-size:0.9rem;
        }

        @media(min-width: $tablet){

            &:hover {
                span.action {
                    display: inline-block;
                }
            }

            span.action {
                display: none;
            }

            span.date {
                position: absolute;
                display: inline;
                right: 3rem;
                font-size: inherit;
            }

        }

        @media(min-width: $tablet){
            display: flex;
            flex-direction: row;
            align-items: top;
            justify-items: flex-end;
        }

        .ss-col {
            align-content: center;
            flex-basis: 0;
            margin: map-get($space, sm);
            flex-grow: 1;
            &.is-xs {
                flex-grow: 1;
            }
            &.is-sm {
                flex-grow: 2;
            }
            &.is-md {
                flex-grow: 5;
            }
            &.is-lg {
                flex-grow: 10;
            }
            &.is-xl {
                flex-grow: 20;
            }
            &.is-icon {
                flex-basis: 20px;
                text-align: right;
                flex-grow: 0;
            }
        }

        .ss-content {
            @media(min-width: $tablet){
                flex: 10;
            }
        }

    }
}
