@import '~7s/assets/bulma/bulma.sass';
@import 'variables.scss';
@import 'sidebar.scss';
@import 'menu.scss';
@import 'nav.scss';
@import 'header.scss';

@import 'columns.scss';

@import 'card.scss';
// list depends on card
@import 'list.scss';

@import 'dropdown.scss';
@import 'tabs.scss';
@import 'form.scss';
@import 'alerts.scss';
@import 'message.scss';
@import 'notifications.scss';

@import 'elements.scss';

// icon fonts

@import '~7s/assets/fa/scss/fontawesome.scss';
@import '~7s/assets/fa/scss/solid.scss';
@import '~7s/assets/fa/scss/brands.scss';

hr {
    border: none;
    background: none;
    border-bottom: 1px solid #dbdbdb;
}

.navbar {
    .container.is-fluid {
        max-width: none;
    }
}

.container.is-fluid {
    @media(min-width: $desktop){
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

h2.title {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid #f0f0f0;
    font-weight: normal;
}

.logo {
    margin-bottom: 1.5rem;
    img {
        height: 32px;
        margin-top: 10px;
        padding: 0.4rem;
        padding-left: 0;
    }
    a {
        color: #000;
    }
}

.main {
    max-width: 1400px;
    @media(max-width: $desktop){
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        margin-top: 1rem;
    }
}

.simple {

    display: flex;
    align-items: center;

    background: #0af;

    &.is-fullheight {
        min-height: 100vh;
    }

    h2.title {
        text-align: center;
        border-bottom: none;
        color: $grey-darker;
    }

    &.is-info {
        .ss-card {
            .title {
                color: $grey-darker;
            }
        }
    }
    .ss-card {
        @media(max-width: $tablet){
            border-radius: 0;
            width: 100%;
        }
        @media(min-width: $tablet){
            margin: 0 auto;
        }
    }
}


#app {
    min-height: 100vh;
    margin: 0 auto;
    background: #fafafa;

    @media(min-width: 2100px){
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 10px 10px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .navbar {
        margin-top: 0;
    }
}
