.menu {
    font-weight: 200;

    p.menu-label {
        padding-left: 1rem;
        margin-top: 1rem;
    }


    ul.menu-list {
        li {
            border-radius: 0;
            a {
                padding: 12px;
                border-radius: 0;
                &.is-active {
                    i.fas {
                        color: #fff;
                    }
                }
            }
            ul {
                margin: 0;
                padding-left: 0;
                border-left: 0;
            }
        }
    }
}
