.mobile-nav {
    @media(min-width: $desktop){
        display: none;
    }
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.navbar {

    background: none;

    @media(min-width: $desktop){
        margin-bottom: 20px;
        margin-top: 10px;
        .navbar-end {
            padding-right: 0.5rem;
        }
    }

    span.is-hidden-navbar {
        display: none;
    }

    font-size: 1.1rem;
    .navbar-brand {
        @media(min-width: $desktop){
            margin-left: -1rem;
        }
        .navbar-title {
            font-weight: 300;
        }
    }
}


@media(max-width: $desktop){

    nav.navbar{
        z-index: 20;
        .navbar-menu {
            width: 0px;
            transition: width 0.5s;
        }

        .navbar-menu.is-active {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            padding-top: 40px;
            width: auto;
            a {
                padding-right: 60px;
            }
        }

        .navbar-burger {
            &.is-active {
                display: none;
            }
            position: absolute;
            top:0;
            right: 0;
        }
    }        
}