.with-sidebar {

    .sidebar {
        z-index: 30;
        background: #eee;
        color: #000;
        .menu {
            p.menu-label {
                color: #aaa;
            }
            .menu-list {
                li {
                    a {
                        color: #333;
                        i.fas {
                            color: #333;
                        }
                    }
                    a.is-active {
                        background: #ddd;
                    }
                    a:hover:not(.is-active) {
                        color: #000;
                        i.fas {
                            color: #333;
                        }
                    }
                }
            }    
        }
        h1 {
            padding: 0 16px 16px 16px;
            width: 100%;
            font-size: 1.8rem;
            font-weight: bolder;
        }
        box-shadow: $shadow-sm;
    }

    .sidebar-content {
    }

    @media(max-width: $desktop){

        .sidebar {
            display: none;
            position: fixed;
            height: 100%;
            overflow-y: auto;
            min-width: 200px;
            top: 0;
            right: 0;
            max-width: 300px;

            .navbar-burger {
                display: none;
            }
    
        }

        .sidebar.is-active {
            display: block;
            .navbar-burger {
                position: absolute;
                right: 0;
                top: 0;
                display: block;
            }
        }
    }

    @media(min-width: $desktop){

        .sidebar {
            width: 300px;
            position: fixed;
            top: 0;
            height: 100%;
            overflow-y: auto;
        }

        .sidebar-content {
            margin-left: 320px;
        }

    }
}    
    