
@media(min-width: $tablet){
    .tabs span.more {
        display: none;
    }
}

.tabs {

    position: relative;

    @media(min-width: $desktop){
        ul {
            margin-left: 0;
        }
        li {
            a {
                padding-left: 0;
                padding-right: 1em;
            }
        }
    }

    @media(max-width: $tablet){

        background: #fff;
        box-shadow: $shadow-sm;
        span.more {
            position: absolute;
            right: 0.5em;
            padding-top: 0.6em;
            padding-right: 0.3em;
        }
        ul {
            li:not(.is-active) {
                display: none;
            }
    
            li {
                display: block;
                position: relative;
                width: 100%;
                text-align: left;
                a {
                    justify-content: left;
                    border-bottom: none !important;
                }
            }
            display: block;
        }
    }
}

.tabs.active {
    @media(max-width: $tablet){
        position: relative;
        min-height: 40px;
        overflow: visible;
        z-index: 10;
        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            flex-flow: wrap;
            width: 100%;
            height: auto;
            background:#fff;
            box-shadow: $shadow-sm;
    
            li {
                margin:0 !important;
            }
    
    
            li:not(.is-active){
                order: 2;
                display: block;
            }
            
            li.is-active {
                order: 1;
                background: #eee;
                display: block;
            }
    
        }    
    }
}


.field.is-grouped {
    @media(max-width: $tablet){
        width: 100%;
        box-shadow: $shadow-sm;

        .control:last-child {
            border-right: none;
        }

        .control {
            flex: 1;
            margin-right:0 !important;
            flex-grow: 1;
            border: none;
            border-right: 1px solid #eee;
            a {
                border: none;
                border-radius: 0;
                width: 100%;
            }
        }
    }
}
