@import './colors.scss';
$border-radius: $radius;

$space: (
    xs: 4px,
    sm: 8px,
    md: 12px,
    lg: 24px,
    xl: 48px,
    xxl: 96px
);

// Shadows

$shadow-sm: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 3px 3px 3px 0 rgba(0, 0, 0, 0.05);
$shadow-dropdown: 0 3px 6px -2px rgba(0, 0, 0, 0.5);


$weight-normal: 300;
$weight-bold: 600;
$weight-thin: 150;

@mixin fs($size) {
    @media(min-width: $tablet){
        font-size: map-get($fs-tablet, $size);
    }
    font-size: map-get($fs, $size);
}

$fs-tablet: (
    huge: 60px,
    large: 34px,
    normal: 20px,
);

$fs: (
    huge: map-get($fs-tablet, huge)*0.5,
    large: map-get($fs-tablet, large)*0.5,
    normal: map-get($fs-tablet, normal)*0.5,
);

@mixin vertical-space($size) {
    margin-bottom: map-get()
}